<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />@RenderSection("HeadInfo")

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    @Styles.Render("~/Content/Custom/base.css")
    @Styles.Render("~/Content/Custom/grid.css")
    @Styles.Render("~/Content/Custom/layout.css")
    @Styles.Render("~/Content/Custom/validation.css")
    @Scripts.Render("~/Scripts/modernizr-2.8.3.js")
    @Styles.Render("~/Content/Themes/base/jquery-ui.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <!--[if gte IE 9]>
		  <style type="text/css">
		    .gradient {
		       filter: none;
		    }
		  </style>
		<![endif]-->
    <div class="header-wrapper">
        <section>
            <div class="toolbar">
                <div class="container">
                    <div class="sixteen columns">
                        <div class="phone">Phone: <span class="white">402.895.5066</span> <span class="time">(8am - 5pm CST Mon-Fri)</span></div>
                        <!--<div class="login">Welcome, <span class="white">Guest</span> <a href="javascript:void(0);">Login</a></div>-->
                    </div>
                </div>
            </div>
        </section>
        <header>
            <div class="container">
                <div class="sixteen columns">
                    <div class="white-burst">
                        <div class="logo">
                            <a href="javascript:void(0);">
                                <h1>Quinn's Reporting</h1>
                            </a>
                        </div>
                    </div>
                    @RenderSection("Navigation")
                </div>
            </div>
        </header>
        <!-- .end header-wrapper -->
    </div>

    @RenderBody()

    @Html.Partial("_Footer");    

    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    <!--@Scripts.Render("~/Scripts/jquery.quovolver.min.js")-->
    <script>window.jQuery || document.write('<script src="Scripts/jquery-3.4.1.min.js"><\/script>')</script>
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/plugins.js")
    @RenderSection("scripts", required: false)

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40112004-1', 'quinnsreporting.com');
        ga('send', 'pageview');

    </script>

</body>
</html>
